<h2 mat-dialog-title>Crear Nuevo Usuario</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="newUser.name" name="name" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Nombre de Usuario</mat-label>
    <input matInput [(ngModel)]="newUser.username" name="username" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="newUser.email" name="email" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="createUser()">Crear</button>
</mat-dialog-actions>
