.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 80px; /* Ajusta este valor según la altura de tu menú */
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.create-button {
  position: fixed;
  bottom: 20px;
  right: 30%;
  transform: translateX(50%);
  z-index: 1000;
  background-color: primary;
  color: #fdf8f8;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post-card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card-title {
  flex-grow: 1;
  margin-left: 10px;
}

mat-card-content {
  padding-top: 0;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.delete-button {
  margin-left: 10px;
}
