mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.app-container {
  margin-top: 64px; /* Ajusta esto si tu barra de navegación tiene un tamaño diferente */
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

nav a.nav-link {
  color: white;
  text-decoration: none;
}
