.container {
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.create-button {
  position: fixed;
  bottom: 20px;
  right: 15%;
  transform: translateX(50%);
  z-index: 1000;
  background-color: primary;
  color: #eff7f4;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.user-card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card-title {
  flex-grow: 1;
  margin-left: 10px;
}

mat-card-content {
  padding-top: 0;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.delete-button {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .create-button {
    right: 10%;
  }
}

@media (max-width: 400px) {
  .create-button {
    right: 5%;
  }
}
