<div class="container">
  <h2>Lista de Usuarios</h2>
  <div class="actions">
    <button mat-fab color="primary" class="create-button" (click)="openDialog()" matTooltip="Agregar nuevo usuario">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-form-field class="search-bar">
    <mat-label>Buscar usuario</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="filterUsers()">
  </mat-form-field>
  <div class="user-list">
    <mat-card *ngFor="let user of filteredUsers" class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="user-avatar">
          <mat-icon>person</mat-icon>
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <div class="action-buttons">
          <button mat-icon-button color="primary" [routerLink]="['/users', user.id]" matTooltip="Editar usuario">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="showUserPosts(user)" matTooltip="Ver publicaciones">
            <mat-icon>article</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="delete-button" (click)="deleteUser(user.id)" matTooltip="Eliminar usuario">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>Nombre de Usuario: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
